{% extends 'base.html.twig' %}

{% block title %}Modifier un étudiant{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-warning text-dark">
                    <h3 class="card-title">Modifier un étudiant</h3>
                </div>
                <div class="card-body">
                    {{ include('student/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ path('app_student_index') }}" class="btn btn-secondary">Retour à la liste</a>
                    {{ include('student/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}